<!DOCTYPE html>  
<html lang="fr">  
    <head>        
        <meta charset="utf-8">  
        <title>Le titre de ma page</title>  
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>    
    <body>        
        <header>
            <h1>Edumy</h1>
            <section id="head">
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>Coures</li>
                        <li>Events</li>
                        <li>Pages</li>
                        <li>Blog</li>
                        <li>Contact</li>
                    </ul>
                </nav>
            </section>
        </header>
        <main>
            <article>
                <img src"https://creativelayers.net/themes/edumy-html/images/team/4.png">
                <p> Ali TUFAN         Last updated 11/2019</p>
                <h2>Designing a Responsive Mobile Website with Muse</h2>
                <figure>
                    <video controls>
                        <source src="https://www.youtube.com/watch?v=rrZz0f99_x8">
                    <figcaption>
                        <p>
                            Enlisted
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <section>
                <h2>Overview</h2>
                    <h3>Course Description</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <p>
                     It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
                     like Aldus PageMaker including versions of Lorem Ipsum.   
                    </p>
                </section>
                <section>
                <h2>What you'll learn</h2>
                    <ul>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                        <li>Become a UX designer.</li>
                    </ul>
                </section>  
                <section>
                <h2>Requirements</h2>
                    <ul>
                        <li>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from Adobe.</li>
                        <li>No previous design experience is needed.</li>
                        <li>No previous Adobe XD skills are needed.</li>
                    </ul>
                </section>
            </article>
        </main>
        <footer>
                 
        </footer>  
    </body>
</html>