body{
    height: 2000px;
    width: 100vw;
    margin: 0px;
    
                #head{
                    height: 400px;
                    background-image: url ("https://creativelayers.net/themes/edumy-html/images/background/inner-pagebg.jpg");
                    background : linear-gradient(purple, pink);
                    opacity: 0.5;
                }
}