body{
    height: 2000px;
    width: 100vw;
    margin: 0px;
    
                header{
                    height: 400px;
                    background-image:linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
                    url("https://creativelayers.net/themes/edumy-html/images/background/inner-pagebg.jpg");
                    
                    
                    ul{
                        list-style: none;
                        margin: 50px;
                        margin-top: 25px;
                        
                        li{
                            display: inline-block;
                            padding: 20px;
                            margin-top: 25px;
                            margin-left: 20vh;
                        
                             }
                      }
                 }
}
                 
                 
body{
    header{
             main{
                        width: 70vW;
                     grid-template-columns: repeat(2, 1fr);
                        .art1{
                          
                          }
                        .tab1{
                            grid-template-columns: repeat(2, 1fr);
                            display: grid;
                            
                        }
                 
}}
